name: Release
on:
  workflow_dispatch: {}

concurrency:
  group: release-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: "Setup: Python 3.11"
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry


      - name: Build
        run: |
          poetry install --no-root
          poetry build

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          password: "${{ secrets.PYPI_API_TOKEN }}"
